<h1>Editing Calendar</h1>

<%= render 'form' %>

<%= link_to 'Show', @calendar %> |
<%= link_to 'Back', @calendar %>
<br>
 <td><%= link_to 'Destroy Calendar', @calendar, method: :delete, data: { confirm: 'Are you sure?' } %></td>
