// Place all the styles related to the articles controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.calendar {
  border-collapse: collapse;
  width: 100%;

  td, th {
    font-family: "Lucida Grande", arial, helvetica, sans-serif;
    font-size: 10px;
    padding: 6px;
    border: 1px solid #999;
  }

  th {
    background: #DDD;
    color: #666;
    text-align: center;
    width: 14.2857142857143%;
  }

  td {
    background: #FFF;
    color: #777;
    height: 80px;
    vertical-align: top;
    font-size: 16px;
  }

  .notmonth, .notmonth a { color: #CCC; }
  .today { background-color: #D7F2FF; }
}

#articles #month {
  margin: 0;
  padding-bottom: 10px;
  text-align: center;
  font-size: 22px;
  a {
    text-decoration: none;
    padding: 0 10px;
    color: #999;
  }
}

#articles ul.calendar {
  font-size: 11px;
  padding-left: 20px;
}

.button {
 border: 1px solid #000a0f;
 background: #0096fa;
 background: -webkit-gradient(linear, left top, left bottom, from(#a9dbfc), to(#0096fa));
 background: -webkit-linear-gradient(top, #a9dbfc, #0096fa);
 background: -moz-linear-gradient(top, #a9dbfc, #0096fa);
 background: -ms-linear-gradient(top, #a9dbfc, #0096fa);
 background: -o-linear-gradient(top, #a9dbfc, #0096fa);
 background-image: -ms-linear-gradient(top, #a9dbfc 0%, #0096fa 100%);
 padding: 16px 32px;
 -webkit-border-radius: 6px;
 -moz-border-radius: 6px;
 border-radius: 6px;
 -webkit-box-shadow: rgba(255,255,255,0.4) 0 1px 0, inset rgba(255,255,255,0.4) 0 1px 0;
 -moz-box-shadow: rgba(255,255,255,0.4) 0 1px 0, inset rgba(255,255,255,0.4) 0 1px 0;
 box-shadow: rgba(255,255,255,0.4) 0 1px 0, inset rgba(255,255,255,0.4) 0 1px 0;
 text-shadow: #7ea4bd 0 1px 0;
 color: #ffffff;
 font-size: 18px;
 font-family: helvetica, serif;
 text-decoration: none;
 vertical-align: middle;
 }
.button:hover {
 border: 1px solid #0a3c59;
 text-shadow: #4f82a1 0 1px 0;
 background: #5a9bc7;
 background: -webkit-gradient(linear, left top, left bottom, from(#65a9d7), to(#5a9bc7));
 background: -webkit-linear-gradient(top, #65a9d7, #5a9bc7);
 background: -moz-linear-gradient(top, #65a9d7, #5a9bc7);
 background: -ms-linear-gradient(top, #65a9d7, #5a9bc7);
 background: -o-linear-gradient(top, #65a9d7, #5a9bc7);
 background-image: -ms-linear-gradient(top, #65a9d7 0%, #5a9bc7 100%);
 color: #fff;
 }
.button:active {
 text-shadow: #1e4158 0 1px 0;
 border: 1px solid #0a3c59;
 background: #65a9d7;
 background: -webkit-gradient(linear, left top, left bottom, from(#3e779d), to(#5a9bc7));
 background: -webkit-linear-gradient(top, #3e779d, #65a9d7);
 background: -moz-linear-gradient(top, #3e779d, #65a9d7);
 background: -ms-linear-gradient(top, #3e779d, #65a9d7);
 background: -o-linear-gradient(top, #3e779d, #65a9d7);
 background-image: -ms-linear-gradient(top, #3e779d 0%, #65a9d7 100%);
 color: #fff;
 }

 .button2 {
  border: 1px solid #000a0f;
  background: #0096fa;
  background: -webkit-gradient(linear, left top, left bottom, from(#a9dbfc), to(#0096fa));
  background: -webkit-linear-gradient(top, #a9dbfc, #0096fa);
  background: -moz-linear-gradient(top, #a9dbfc, #0096fa);
  background: -ms-linear-gradient(top, #a9dbfc, #0096fa);
  background: -o-linear-gradient(top, #a9dbfc, #0096fa);
  background-image: -ms-linear-gradient(top, #a9dbfc 0%, #0096fa 100%);
  padding: 2px 4px;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  border-radius: 6px;
  -webkit-box-shadow: rgba(255,255,255,0.4) 0 1px 0, inset rgba(255,255,255,0.4) 0 1px 0;
  -moz-box-shadow: rgba(255,255,255,0.4) 0 1px 0, inset rgba(255,255,255,0.4) 0 1px 0;
  box-shadow: rgba(255,255,255,0.4) 0 1px 0, inset rgba(255,255,255,0.4) 0 1px 0;
  text-shadow: #7ea4bd 0 1px 0;
  color: #ffffff;
  font-size: 12px;
  font-family: helvetica, serif;
  text-decoration: none;
  vertical-align: middle;
  }

  
