// Place all the styles related to the Events controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
blockquote
{
  width: 500px;
    padding: 25px;
    border: 5px solid gray;
    margin: 25px;
}
