<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @post.title %>
</p>

<p>
  <strong>Content:</strong>
  <%= @post.content %>
</p>

<p><%= link_to 'Edit', edit_event_post_path(@event.id,@post.id) %></p>
<a href="javascript:history.back()">Back</a>
